* {
  margin: 0;
  padding: 0;

}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: "Outfit", arial, sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 20px;
}

h2 {
  font-family: "Raleway", arial, sans-serif;
  font-size: 48px;
  margin: 0 0 0px;
}

h3 {
  font-size: 28px;
  margin: 0 0 20px;
}

ul {
  color: #ffffff;
}

.info-list{
  font-size: 16px;
}
.line {
  margin: 5px 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

.invite-link {
  text-decoration: underline;
}
.invite-link:hover {
  opacity: 1.0;
  transform: scale(1.02);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #333;
  color: white;
  z-index: 9999;
  position: fixed;
  width: 100%; 
}

/*idk what happened here I'm not a full time web developer*/
.header-left {
  margin-top: 5px;
  opacity: 0.8;
  transform: scale(1.2);
  transform-origin: right;
}
.header-left img {
  width: 40px;
  height: 40px;
  margin-left: 100px;
}
.header-left:hover {
  opacity: 1.0;
  transform: scale(1.3);
}

.header-middle ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; 
  justify-content: center; 
}
.header-middle li {
  margin: 0 10px;
}
.header-middle a {
  color: white;
  text-decoration: none;
}

.header-right img {
  width: 30px;
  height: 30px;
  margin-right: 50px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  transform: scale(1.2);

  opacity: 0.8;
}
.header-icon:hover {
  opacity: 1.0;
  transform: scale(1.3);
}

.icon-section {
  display: flex;
}

/* Main content styles */
main {
  background-color: #000000;
  padding: 40px;

  border-radius: 10px;
  opacity: 1.0;
}

section {
  margin-bottom: 40px;
}

section:last-of-type {
  margin-bottom: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 20px;
  color: #ffffff;

  text-indent: 20px;
}

/* Footer styles */
footer {
  background-color: #000000;
  text-align: center;
  opacity: 0.8;

  height: 80px;
}
.footer-text {
  padding-top: 20px;
}

.text-white {
  color: #fff;
  text-align: center;
}


a:hover {
  text-decoration: underline;
}


/* Media queries */
@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  header h1 {
    font-size: 36px;
  }

  nav a {
    font-size: 16px;
  }

  main {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .navbar-nav.ml-auto {
    display: flex;
    align-items: center;
  }
}

.icon-section {
  display: flex;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  opacity: 0.8;
}

.icon-circle:hover {
  /* background-color: rgba(0, 0, 0, 0.2); */
  transform: scale(1.1);
  opacity: 1.0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 1;
  padding: 20px;
}

.col-md-6:nth-child(odd) {
  border-right: 1px solid #ddd;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .col-md-6:nth-child(odd) {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}

.hero-image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 990;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 96px;
  opacity: 1.0;

  text-shadow: 4px 4px #222222, 0 0 20px #222222;


  z-index: 999;
}

.hero-icon {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 1.0;

  margin-top: 180px;
  height: 120px;
  width: 120px;

  z-index: 999;

}

body {
  background: url('./assets/slideshow/image4.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: slow-scroll 50s linear infinite alternate;
}